# Archivos de respaldo de Emacs
*~

# Compilados de prueba
outputs/

# El compilador ya compilado
bootstrapped/

# Distribución
disttmp/
dist.zip

# Compilados de la documentación

## Generados con pandoc al crear los manuales
docs/man/*.1
docs/man/*.html
