# Archivos de respaldo de Emacs
*~

# Escritorio de Emacs
.emacs.desktop
.emacs.desktop.lock

# Datos de VSCode
.vscode/

# Compilados de prueba
outputs/

# Archivo TAGS para PseudoD
PDTAGS

# El compilador ya compilado
bootstrapped/

# Distribución
disttmp/
dist.zip

# Binarios de enlace
bin/

# Compilados de la documentación

## Generados con pandoc al crear los manuales
docs/man/*.1
docs/man/*.html
